name: CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"] 

jobs:
  build-release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    name: BuildRelease
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up elan
        run: curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- -y
      - name: Build project
        run: ~/.elan/bin/lake build
        working-directory: lean_dojo_v2/external_api
